<div class="container pt-3">
  <%
=begin%>
 <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= render 'search_form', url: boards_path %>
    </div>
  </div> 
<%
=end%>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <%= t('.fail') %>
      <% end %>
      </div>
    </div>
  </div>
  <%
=begin%>
 <%= paginate @boards %> 
<%
=end%>
</div>

