<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>ログイン</h1>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" value="" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="" class="form-control" /> </div>
        <div class="actions">
          <input type="submit" value="ログイン" class="btn btn-primary" />
        </div>
      </form>
      <div class='text-center'>
        <a href="/users/new">登録ページへ</a>
        <a href="#">パスワードをお忘れの方はこちら</a>
      </div>
    </div>
  </div>
</div>
